@charset "UTF-8";
/* CSS Document */


@media (max-width: 1000px) {

}

@media (max-width: 940px) {
.footer-section {
	text-align:center;
	padding:40px 0;
	}
.footer-section ul li{
	margin:0 auto !important;
	float:none;
}

.staps{
	text-align:center;
	padding:40px 0;
	}
	
.staps ul li{
	margin:0 auto !important;
	float:none !important;
}

.nav{
	display:none;
}

.nav-m{
	display:block;
}

.staps{
	background:#074e72;
}

.staps ul li{
	background:none !important;
	border:#fff solid 10px;
	margin:0 !important;
	margin-bottom:20px !important;
	padding:20px !important;
	height:auto;
	min-height:430px;
	width:31.333% !important;
	margin:0 1% !important;
	float:left !important;
}

.staps ul li h5{
	padding:0 !important;
}

.footer-section ul li{
	background:none !important;
	border:#fff solid 10px;
	margin:0 !important;
	margin-bottom:20px !important;
	padding:20px !important;
	height:auto;
	min-height:450px;
	width:31.333% !important;
	margin:0 1% !important;
	float:left !important;
}

.footer-section ul li h4{
	padding:0 !important;
}

}
 
 
@media (max-width: 768px) {}


@media (max-width: 767px) {
.footer ul li{
	width:100%;
	margin-right:0;
	float:none;	
}

.about{
	padding-bottom:0;
	}

.about-left{
	width:100%;
	float:none;
	margin-bottom:30px;
}

.about-right{
	width:100%;
	float:none;
}

.about-right img{
	width:100%;
}

.trusted-source-left{
	width:100%;
	float:none;
}

.trusted-source-right{
	width:100%;
	float:none;
}

.header-links{
	margin-bottom:20px;
}

.header-links a{
	font-size:12px !important;
}

.aboutus-left{
	width:100%;
	float:none;
	padding-bottom:20px;
}

.aboutus-right{
	width:100%;
	float:none;
	padding-bottom:20px;
}

.news-part{
	width:100%;
	float:none;
	margin-bottom:20px;
}

.news-left{
	width:100%;
	float:none;
	margin-bottom:20px;
}

.news-right{
	width:100%;
	float:none;
}

.for-providers-page-left {
	width: 100%;
	float: none;
	margin-bottom:20px;
}
.for-providers-page-right {
	width: 100%;
	float: none;
}

.for-providers-page-signup-text{
	float:none;
	text-align:center;
	margin-bottom:20px;
	width:100%;
}

.for-providers-page-signup-btn{
	float:none;
	text-align:center;
	display:table;
	margin:0 auto;
}

.signup{
	padding:40px 0;
	}

.signup-form{
	padding:20px;
	}

.signup-form-left{
	width:100%;
	float:none;
}

.signup-form-right{
	width:100%;
	float:none;
}

input.signup-btn{
	width:100%;
	float:none;
}

.signup-form label{
	float:none;
	display:block;
	font-size:15px;
}

.signup-form label input{
	margin-right:5px;
}

.choose-training-left{
	width:100%;
	float:none;
}

.choose-training-right{
	width:100%;
	float:none;
}

.choose-training-steps{
	display:none;
}

#choose-training-steps{
	display:block;
	margin-top:0;
	margin-bottom:30px;
}

.choose-training-steps:before{
	display:none;
}

.choose-training-listing-left{
	width:100%;
	float:none;
	margin-bottom:20px;
}

.choose-training-listing-right{
	width:100%;
	float:none;
}

.choose-training-detail .choose-training-listing-left{
	width:100%;
}

.choose-training-detail-parameters ul li{
	padding:10px;
	}

.choose-training-detail-parameters ul li div{
	display:block;
	border-right:0;
	width:100%;
	padding-bottom:15px;
}

.my-account-left{
	width:100%;
	float:none;
}

.my-account-right{
	width:100%;
	float:none;
}

.get-in-touch-captcha{
	width: 100%;
	float: none;
	margin-bottom:20px;
}

.get-in-touch-submit{
	width: 100%;
	float: none;
}

.get-in-touch-form1 {
	width: 100%;
	float: none;
}
.get-in-touch-form2 {
	width: 100%;
	float: none;
}
.get-in-touch-form3 {
	width: 100%;
	float: none;
}

.getintouch{
	width:100%;
	float:none;
}

.resources-page .wrap{
	padding:0 10px;
	}

.resources-page ul li{
	width:100%;
	float:none;
	margin-right:0;
	margin-left:0;
}

.get-in-touch-footer ul li{
	width:100% !important;
	float:none;
	margin-right:0;
	margin-bottom:20px;
	}
	
.trusted-source-left{
	background:none;
	min-height:inherit;
	}
	
.trusted-source-left img{
	display:block;
}

.staps ul li{
	height:auto;
	min-height:inherit;
	width:100% !important;
	margin:0 0 20px 0!important;
	float:none !important;
}

.staps ul li:last-child{
	margin:0 !important;
	}

.staps .wrap{
	padding:0 10px;
}

.footer-section ul li{
	height:auto;
	min-height:inherit;
	width:100% !important;
	margin:0 0 20px 0!important;
	float:none !important;
}

.footer-section ul li:last-child{
	margin:0 !important;
	}

.footer-section .wrap{
	padding:0 10px;
}

.find-right-training-btn {
	padding:0;
}

}

@media (max-width: 480px) {
.play-now-btn{
	margin-bottom:20px;	
}

.find-right-training-btn a{
	font-size:22px;
}
	
.staps ul li:nth-child(3){
	height:435px;
}

}
