@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family: 'flexodemi';
	src: url('../fonts/flexo-demi.eot');
	src: url('../fonts/flexo-demi.eot?#iefix') format('embedded-opentype'), url('../fonts/flexo-demi.woff2') format('woff2'), url('../fonts/flexo-demi.woff') format('woff'), url('../fonts/flexo-demi.ttf') format('truetype'), url('../fonts/flexo-demi.svg#flexodemi') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'flexobold';
	src: url('../fonts/flexo-bold.eot');
	src: url('../fonts/flexo-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/flexo-bold.woff2') format('woff2'), url('../fonts/flexo-bold.woff') format('woff'), url('../fonts/flexo-bold.ttf') format('truetype'), url('../fonts/flexo-bold.svg#flexobold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'flexoregular';
	src: url('../fonts/flexo-regular.eot');
	src: url('../fonts/flexo-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/flexo-regular.woff2') format('woff2'), url('../fonts/flexo-regular.woff') format('woff'), url('../fonts/flexo-regular.ttf') format('truetype'), url('../fonts/flexo-regular.svg#flexoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'flexothin';
	src: url('../fonts/flexo-thin.eot');
	src: url('../fonts/flexo-thin.eot?#iefix') format('embedded-opentype'), url('../fonts/flexo-thin.woff2') format('woff2'), url('../fonts/flexo-thin.woff') format('woff'), url('../fonts/flexo-thin.ttf') format('truetype'), url('../fonts/flexo-thin.svg#flexothin') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'flexomedium';
	src: url('../fonts/flexo-medium.eot');
	src: url('../fonts/flexo-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/flexo-medium.woff2') format('woff2'), url('../fonts/flexo-medium.woff') format('woff'), url('../fonts/flexo-medium.ttf') format('truetype'), url('../fonts/flexo-medium.svg#flexomedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'flexolight';
	src: url('../fonts/flexo-light.eot');
	src: url('../fonts/flexo-light.eot?#iefix') format('embedded-opentype'), url('../fonts/flexo-light.woff2') format('woff2'), url('../fonts/flexo-light.woff') format('woff'), url('../fonts/flexo-light.ttf') format('truetype'), url('../fonts/flexo-light.svg#flexolight') format('svg');
	font-weight: normal;
	font-style: normal;
}
html {
	-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
	width: 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input[type="submit"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
*, *:after, *:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'flexoregular';
	-webkit-font-smoothing: antialiased;
	width: 100%;
	height: 100%;
	color: #666;
}
a {
	outline: none;
	text-decoration: none;
	color: #5b5551;
}
.c {
	clear: both;
}
img {
	border: 0;
}
input, textarea, select {
	outline: none;
	resize: none;
	font-family: 'flexoregular';
}
 button::-moz-focus-inner {
 border: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
img {
	border: 0;
	vertical-align: top;
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}
ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
p {
	margin: 0 0 10px 0;
	padding: 0;
}
.wrap {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}
header {
	background: #016199;
	border-bottom: #587ab7 solid 0px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
.header-links {
	text-align: right;
}
.for-providers {
	color: #8fcff5;
	font-family: 'flexobold';
	font-size: 14px;
	padding: 10px;
}
.header-login-signup {
	display: inline-block;
	background: #3481ad;
	padding: 10px;
	color: #8fcff5;
	font-family: 'flexobold';
	font-size: 14px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
.header-login-signup a {
	color: #8fcff5;
	font-family: 'flexobold';
	font-size: 14px;
}
.logo {
	text-align: center;
}
.nav {
	position: absolute;
	width: 100%;
	background: #0b7fc2;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border: #016199 solid 3px;
	border-top: 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.31);
	z-index: 123;
	left: 0;
	bottom: -59px;
}
.nav ul li {
	float: left;
	margin: 0 24px
}
.nav ul li:last-child {
}
.nav ul li a {
	color: #FFF;
	font-family: 'flexobold';
	font-size: 16px;
	padding: 20px 0 16px 0;
	display: block;
	line-height: 16px;
	border-bottom: #0b7fc2 solid 4px;
}
.nav ul li a:hover, .nav ul li a.active, nav ul li.active a {
	border-bottom: #FFF solid 4px;
}
.banner ul li {
	background-size: cover !important;
	background-position: center center !important;
	min-height: 600px;
}
.banner-text {
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
	padding-top: 30%;
}
.banner-text h1 {
	font-family: 'flexobold';
	font-size: 40px;
	color: #1b1b1b;
	margin-bottom: 30px;
}
.banner-text h3 {
	font-family: 'flexodemi';
	font-size: 20px;
	line-height: 32px;
	color: #1b1b1b;
	margin-bottom: 20px;
}
.play-now-btn {
	display: inline-block;
	margin: 0 10px;
}
.search-now-btn {
	display: inline-block;
	margin: 0 10px;
}
.play-now-btn a {
	display: block;
	background: rgba(0, 0, 0, 0.7);
	padding: 8px 30px 8px 8px;
	-webkit-border-radius: 29px;
	-moz-border-radius: 29px;
	border-radius: 29px;
	line-height: 42px;
	font-family: 'flexobold';
	font-size: 21px;
	color: #fff;
}
.play-now-btn a img {
	margin-right: 20px;
	vertical-align: middle;
}
.search-now-btn a {
	display: block;
	background: rgba(0, 0, 0, 0.7);
	padding: 8px 30px;
	-webkit-border-radius: 29px;
	-moz-border-radius: 29px;
	border-radius: 29px;
	line-height: 42px;
	font-family: 'flexobold';
	font-size: 21px;
	color: #fff;
}
h2 {
	font-family: 'flexobold';
	font-size: 30px;
	color: #222222;
	margin-bottom: 15px;
	line-height: 36px;
}
.about {
	background: #f2f2f2;
	padding: 55px 0 135px 0;
	font-size: 14px;
	color: #3b3b3b;
	line-height: 21px;
}
.about-left {
	width: 49%;
	float: left;
}
.about-right {
	width: 49%;
	float: right;
}
.read-more {
	display: block;
	padding-top: 20px;
}
.read-more a {
	display: inline-block;
	padding: 10px 40px;
	line-height: 34px;
	background: #27a9e1;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.28);
	font-family: 'flexobold';
	font-size: 20px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.about-right img {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
}
.staps {
	background: url(../img/staps-bg.jpg) no-repeat center top #016da5;
	min-height: 677px;
}
.staps .wrap {
	padding: 0;
}
.trusted-source {
}
.trusted-source-left {
	width: 40.5%;
	float: left;
	min-height:440px;
	background:url(../img/trusted-store.jpg) no-repeat 80% bottom;
}

.trusted-source-left img{
	display:none;
}

.trusted-source-right {
	width: 59.5%;
	float: left;
	background: url(../img/trusted-source-pattern.png) #eaeaea;
	padding-top: 40px;
	padding-bottom: 100px;
}
.trusted-source-right-text {
	max-width: 620px;
	padding-left: 35px;
	min-height: 300px;
}
.resources {
	background: #04527a;
	padding-bottom: 100px;
}
.footer {
	background: #016da5;
	border-top: #80b6d2 solid 10px;
	box-shadow: 0 -1px 0 rgba(189, 195, 199, 1);
	position: relative;
	padding: 50px 0;
}
.footer ul li {
	width: 31.2%;
	float: left;
	margin-right: 3.2%;
	text-align: center;
	font-size: 14px;
	color: #9fc6db;
	line-height: 25px;
}
.footer ul li:last-child {
	margin-right: 0;
}
.footer ul li h4 {
	font-family: 'flexobold';
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	margin-bottom: 25px;
}
.footer ul li a {
	font-size: 14px;
	color: #9fc6db;
	line-height: 25px;
}
.social {
	margin-top: 20px;
	display: block;
}
.social a {
	width: 50px;
	height: 50px;
	margin: 0 10px;
	display: inline-block;
}
.copyright {
	background: #27a9e1;
	font-family: 'flexomedium';
	font-size: 14px;
	color: #c0ebfd;
	line-height: 30px;
	padding: 10px 0;
	text-align: center;
}
.copyright a {
	color: #c0ebfd;
}
.find-right-training-btn {
	margin-top: 80px;
	padding:0 10px;
}
.find-right-training-btn a {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #6fbe4a;
	-webkit-box-shadow: 0 2px 9px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	-moz-box-shadow: 0 2px 9px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	box-shadow: 0 2px 9px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: linear-gradient(to top, rgba(0,0,0,.13), rgba(255,255,255,.13));
	display: block;
	font-family: 'flexobold';
	font-size: 35px;
	color: #ffffff;
	text-shadow: 0 1px 6px rgba(21, 59, 3, 0.75);
	text-align: center;
	padding: 20px 0;
	line-height: 40px;
}
.staps {
}
.staps ul li {
	height: 523px;
	float: left;
	width: 304px;
	margin-top: -59px;
	margin-right: 14px;
	text-align: center;
}
.staps ul li:nth-child(1) {
	background: url(../img/step1.png) no-repeat;
}
.staps ul li:nth-child(2) {
	background: url(../img/step2.png) no-repeat;
}
.staps ul li:nth-child(3) {
	background: url(../img/step3.png) no-repeat;
	margin-right: 0;
}
.staps ul li h5 {
	font-family: 'flexobold';
	font-size: 20px;
	color: #a5d0e7;
	padding-top: 140px;
	margin-bottom: 20px;
}
.staps ul li h4 {
	font-family: 'flexobold';
	font-size: 35px;
	color: #ffffff;
	margin-bottom: 25px;
}
.step-disc {
	font-family: 'flexobold';
	font-size: 20px;
	color: #a5d0e7;
	padding: 0 30px;
	line-height: 35px;
}
.footer-section {
	background: #04527a;
	padding-bottom: 80px;
}
.footer-section .wrap {
	padding: 0;
}
.footer-section ul li {
	height: 531px;
	width: 304px;
	float: left;
	margin-top: -61px;
	margin-right: 14px;
	text-align: center;
}
.footer-section ul li:nth-child(1) {
	background: url(../img/resousces.png) no-repeat;
}
.footer-section ul li:nth-child(2) {
	background: url(../img/latest-news.png) no-repeat;
}
.footer-section ul li:nth-child(3) {
	background: url(../img/for-provider.png) no-repeat;
	margin-right: 0;
}
.footer-section ul li h4 {
	font-family: 'flexobold';
	font-size: 35px;
	color: #ffffff;
	margin-bottom: 25px;
	padding-top: 170px;
}
.know-more {
	display: block;
	text-align: center;
	margin-top: 10px;
}
.know-more a {
	display: inline-table;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #096fa4;
	-webkit-box-shadow: 0 2px 9px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	-moz-box-shadow: 0 2px 9px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	box-shadow: 0 2px 9px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	line-height: 53px;
	font-family: 'flexobold';
	font-size: 20px;
	color: #ffffff;
	width: 167px;
}
.footer-section ul li .step-disc {
	min-height: 105px;
}
/*-----*/

.banner-inner {
	background: url(../img/inner-banner.jpg) no-repeat center top;
	background-size: cover;
	height: 222px;
}
.banner-inner h1 {
	text-align: center;
	padding-top: 110px;
	font-family: 'flexobold';
	font-size: 40px;
	color: #ffffff;
}
.aboutus {
	padding: 50px 0 20px 0;
	font-size: 14px;
	color: #3b3b3b;
	line-height: 21px;
}
.aboutus h2 {
	margin-bottom: 25px;
}
.aboutus-left {
	width: 49%;
	float: left;
	padding-bottom: 20px;
}
.aboutus-right {
	width: 49%;
	float: right;
	padding-bottom: 20px;
}
.aboutus img {
	width: 100%;
}
.aboutus ul li {
	font-size: 14px;
	font-family: 'flexobold';
	color: #3b3b3b;
	margin-bottom: 10px;
	line-height: 22px;
	background: url(../img/bullet.png) no-repeat 0 5px;
	padding-left: 20px;
}
.news-getintouch {
	background: #f2f2f2;
	padding: 50px 0;
}
.news-part {
	width: 49%;
	float: left;
}
.getintouch {
	width: 49%;
	float: right;
}
.news-getintouch h2 {
	margin-bottom: 5px;
	text-align: center;
}
.news-getintouch h6 {
	font-size: 14px;
	color: #3b3b3b;
	margin-bottom: 30px;
	text-align: center;
}
.news-part ul li {
	margin-bottom: 20px;
}
.news-part ul li h4 {
	font-family: 'flexobold';
	font-size: 20px;
	color: #016199;
	margin-bottom: 10px;
}
.latest-news-disc {
	font-size: 14px;
	color: #3b3b3b;
	line-height: 21px;
}
.latest-news-disc a {
	font-family: 'flexobold';
	font-size: 12px;
	color: #016199;
}
.getintouch-form {
}
.getintouch-form p {
	margin: 0 0 10px 0;
	padding: 0;
}
.getintouch-form input {
	border: #e5e5e5 solid 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 40px;
	font-size: 14px;
	color: #3b3b3b;
	padding: 0 10px;
	width: 100%;
}
.getintouch-form textarea {
	border: #e5e5e5 solid 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 200px;
	font-size: 14px;
	color: #3b3b3b;
	padding: 10px;
	width: 100%;
}
input.getintouch-btn {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #096fa4;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	box-shadow: 0 2px 5px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	font-size: 14px;
	color: #FFF;
	font-family: 'flexobold';
	padding: 0;
	width: 100%;
	cursor: pointer;
	border: 0;
}

::-webkit-input-placeholder {
opacity:1;
}
:-moz-placeholder {
opacity:1;
}
::-moz-placeholder {
opacity:1;
}
:-ms-input-placeholder {
opacity:1;
}
.news {
	background: #f2f2f2;
	padding: 50px 0;
}
.news-left {
	width: 66%;
	float: left;
}
.news-right {
	width: 31.9%;
	float: right;
}
.news-list ul li {
	margin-bottom: 20px;
	background: #ffffff;
}
.news-list ul li h3 {
	padding: 0 20px;
	margin: 15px 0;
	font-family: 'flexobold';
	font-size: 20px;
	color: #016199;
}
.news-list ul li h3 a {
	color: #016199;
}
.news-disc {
	font-size: 14px;
	color: #3b3b3b;
	line-height: 21px;
	padding: 0 20px
}
.news-info {
	border-top: #e5e6e7 solid 1px;
	padding: 15px 20px;
	margin-top: 20px;
	font-size: 14px;
	color: #016199;
}
.news-info a {
	color: #016199;
}
.news-info img {
	vertical-align: middle;
	border-radius: 50%;
	margin-right: 10px;
}
.news-readmore {
	display: inline-block;
	float: right;
	padding-top: 8px;
}
.news-readmore a {
	font-family: 'flexobold';
	color: #016199;
}
.news-list {
}
.pagination {
	display: table;
	margin: 40px auto 10px auto;
	-webkit-border-radius: 6px 7px 7px 6px/6px;
	-moz-border-radius: 6px 7px 7px 6px/6px;
	border-radius: 6px 7px 7px 6px/6px;
	background-color: #e6e6e6;
	-webkit-box-shadow: 0 1px #fff, inset 0 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px #fff, inset 0 1px rgba(0,0,0,.2);
	box-shadow: 0 1px #fff, inset 0 1px rgba(0,0,0,.2);
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,.06), rgba(255,255,255,.06));
	background-image: -moz-linear-gradient(top, rgba(0,0,0,.06), rgba(255,255,255,.06));
	background-image: -o-linear-gradient(top, rgba(0,0,0,.06), rgba(255,255,255,.06));
	background-image: -ms-linear-gradient(top, rgba(0,0,0,.06), rgba(255,255,255,.06));
	background-image: linear-gradient(to bottom, rgba(0,0,0,.06), rgba(255,255,255,.06));
	padding: 5px 0 5px 5px;
}
.pagination ul {
	display: table;
}
.pagination ul li {
	float: left;
	width: 25px;
	height: 25px;
	margin-right: 5px;
	line-height: 25px;
	text-align: center;
	font-size: 13px;
	color: #767676;
	-webkit-border-radius: 5px/5px 5px 6px 6px;
	-moz-border-radius: 5px/5px 5px 6px 6px;
	border-radius: 5px/5px 5px 6px 6px;
	background-color: #f9f9f9;
	-webkit-box-shadow: 0 4px 7px rgba(0,0,0,.21), inset 0 1px #fff, inset 0 0 0 1px rgba(255,255,255,.34);
	-moz-box-shadow: 0 4px 7px rgba(0,0,0,.21), inset 0 1px #fff, inset 0 0 0 1px rgba(255,255,255,.34);
	box-shadow: 0 4px 7px rgba(0,0,0,.21), inset 0 1px #fff, inset 0 0 0 1px rgba(255,255,255,.34);
	border: solid 1px rgba(192,192,192,.88);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.16), rgba(255,255,255,.16));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.16), rgba(255,255,255,.16));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.16), rgba(255,255,255,.16));
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.16), rgba(255,255,255,.16));
	background-image: linear-gradient(to top, rgba(0,0,0,.16), rgba(255,255,255,.16));
}
.pagination ul li a {
	color: #767676;
	display: block;
	width: 25px;
	height: 25px;
}
.pagination ul li:first-child {
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.16), rgba(255,255,255,.16)), url(../img/pagination-prev.png);
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.16), rgba(255,255,255,.16)), url(../img/pagination-prev.png);
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.16), rgba(255,255,255,.16)), url(../img/pagination-prev.png);
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.16), rgba(255,255,255,.16)), url(../img/pagination-prev.png);
	background-image: linear-gradient(to top, rgba(0,0,0,.16), rgba(255,255,255,.16)), url(../img/pagination-prev.png);
	background-position: center center;
	background-repeat: no-repeat
}
.pagination ul li:last-child {
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.16), rgba(255,255,255,.16)), url(../img/pagination-next.png);
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.16), rgba(255,255,255,.16)), url(../img/pagination-next.png);
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.16), rgba(255,255,255,.16)), url(../img/pagination-next.png);
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.16), rgba(255,255,255,.16)), url(../img/pagination-next.png);
	background-image: linear-gradient(to top, rgba(0,0,0,.16), rgba(255,255,255,.16)), url(../img/pagination-next.png);
	background-position: center center;
	background-repeat: no-repeat
}
.pagination ul li.active {
	-webkit-border-radius: 5px/5px 5px 6px 6px;
	-moz-border-radius: 5px/5px 5px 6px 6px;
	border-radius: 5px/5px 5px 6px 6px;
	background-color: #f3f3f3;
	-webkit-box-shadow: inset 0 1px rgba(255,255,255,.05), inset 0 0 0 1px rgba(255,255,255,.34);
	-moz-box-shadow: inset 0 1px rgba(255,255,255,.05), inset 0 0 0 1px rgba(255,255,255,.34);
	box-shadow: inset 0 1px rgba(255,255,255,.05), inset 0 0 0 1px rgba(255,255,255,.34);
	border: solid 1px rgba(192,192,192,.4);
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,.17), rgba(255,255,255,.17));
	background-image: -moz-linear-gradient(top, rgba(0,0,0,.17), rgba(255,255,255,.17));
	background-image: -o-linear-gradient(top, rgba(0,0,0,.17), rgba(255,255,255,.17));
	background-image: -ms-linear-gradient(top, rgba(0,0,0,.17), rgba(255,255,255,.17));
	background-image: linear-gradient(to bottom, rgba(0,0,0,.17), rgba(255,255,255,.17));
	color: #425069;
}
.pagination ul li.active a {
	color: #425069;
}
.subscribe {
	background: #FFF;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	padding: 20px;
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 21px;
}
.subscribe-form {
	background: #f2f2f2;
	border: #dbdbdb solid 1px;
	height: 30px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-top: 20px;
	padding-left: 10px;
}
.subscribe-form input {
	background: none;
	height: 30px;
	width: calc(100% - 90px);
	border: 0;
	padding: 0;
	margin: 0;
	float: left;
	font-size: 12px;
	color: #3b3b3b;
}
input.subscribe-btn {
	-webkit-border-radius: 0px 3px 3px 0;
	-moz-border-radius: 0px 3px 3px 0;
	border-radius: 0px 3px 3px 0;
	background-color: #096fa4;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	box-shadow: 0 2px 5px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: linear-gradient(to top, rgba(0,0,0,.13), rgba(255,255,255,.13));
	font-family: 'flexobold';
	font-size: 14px;
	color: #FFF;
	width: 90px;
	float: right;
	cursor: pointer;
	border: 0;
}
.recent-news {
	padding-top: 20px;
	padding-bottom:10px;
	background: #FFF;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.recent-news h2 {
	padding: 0 20px;
}
.recent-news ul li {
	background: #ffffff;
}
.recent-news ul li a {
	padding: 10px 20px;
	border-left: 2px solid #FFF;
	display: block;
}
.recent-news ul li a:hover {
	border-left: 2px solid #0a76af;
	background: #f4f4f4;
}
.recent-news-disc {
	width: 67.7%;
	float: right;
}
.news-th {
	width: 28.4%;
	float: left;
}
.recent-news-disc h5 {
	font-size: 16px;
	color: #016199;
	line-height: 22px;
	margin-bottom: 7px;
}
.recent-news-info {
	font-size: 12px;
	color: #1f1f1f;
}
.news-detail .news-info {
	padding: 10px 0;
	border-top: 0;
	border-bottom: 1px solid #e5e6e7;
	margin-bottom: 20px;
}
.news-detail .news-disc {
	padding: 0;
}
.news-detail ul {
	margin: 10px 0;
}
.news-detail h3 {
	font-family: 'flexobold';
	font-size: 20px;
	margin-bottom: 10px;
	color: #222222;
	margin-top: 20px;
}
.news-detail ul li {
	font-family: 'flexodemi';
	font-size: 14px;
	color: #3b3b3b;
	margin-bottom: 4px;
	line-height: 22px;
	background: url(../img/bullet.png) no-repeat 0 5px;
	padding-left: 20px;
}
.comment {
	padding: 50px 0;
	background: #fff;
}
.for-providers-page {
	padding: 50px 0;
	background: #f2f2f2;
}
.for-providers-page-left {
	width: 49%;
	float: left;
	font-size: 14px;
	line-height: 21px;
}
.for-providers-page-right {
	width: 49%;
	float: right;
}
.for-providers-page-left ul li {
	font-family: 'flexobold';
	font-size: 14px;
	color: #3b3b3b;
	margin-bottom: 5px;
	line-height: 22px;
	background: url(../img/bullet.png) no-repeat 0 5px;
	padding-left: 20px;
}
.for-providers-page-signup {
	padding: 20px;
	border-radius: 3px;
	border: #d3d3d3 solid 1px;
	background: #FFF;
	margin-top: 45px;
}
.for-providers-page-signup-text {
	float: left;
	font-family: 'flexobold';
	font-size: 25px;
	color: #016199;
	width: calc(100% - 180px);
	padding-top: 12px;
}
.for-providers-page-right img {
	width: 100%;
}
.for-providers-page-signup-btn {
	float: right;
	width: 180px;
}
.for-providers-page-signup-btn a {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #096fa4;
	-webkit-box-shadow: 0 2px 9px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	-moz-box-shadow: 0 2px 9px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	box-shadow: 0 2px 9px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: linear-gradient(to top, rgba(0,0,0,.13), rgba(255,255,255,.13));
	display: block;
	font-family: 'flexobold';
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 32px;
	padding: 10px 0;
}
.resources-page {
	padding: 50px 0 0 0;
}
.resources-page .wrap {
	padding: 0;
}
.resources-page ul li {
	width: 31.3%;
	margin: 0 1%;
	min-height: 305px;
	background: #060;
	float: left;
	margin-bottom: 20px;
	border: #e9e9e9 solid 1px;
	background: #0b7fc2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 30px;
}
.pdf-download {
}
.resources-img {
	height: 97px;
	margin-bottom: 25px;
}
.pdf-download .resources-img {
	background: url(../img/pdf-icon.png) no-repeat center center;
}
.website-link .resources-img {
	background: url(../img/website-icon.png) no-repeat center center;
}
.resources-text {
	font-family: 'flexodemi';
	font-size: 16px;
	color: #ffffff;
	line-height: 24px;
	min-height: 48px;
	overflow-y: auto;
	text-align: center;
	margin-bottom: 20px;
}
.resources-btn {
	display: block;
	text-align: center;
}
.resources-btn a {
	width: 150px;
	height: 50px;
	background: #FFF;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.34);
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.pdf-download .resources-btn a:before {
	content: "Download";
	font-size: 20px;
	color: #0b7fc2;
	font-family: 'flexobold';
	width: 150px;
	height: 50px;
	display: block;
	text-align: center;
	line-height: 50px;
}
.website-link .resources-btn a:before {
	content: "View";
	font-size: 20px;
	color: #0b7fc2;
	font-family: 'flexobold';
	width: 150px;
	height: 50px;
	display: block;
	text-align: center;
	line-height: 50px;
}
.resources-pagination {
	padding-bottom: 50px;
}
.signup {
	background: #f2f2f2;
	padding: 95px 0;
}
.signup-form {
	max-width: 646px;
	border: #fff solid 12px;
	background: #016da5;
	padding: 30px;
	margin: 0 auto;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.29);
	position: relative;
}
.signup h2 {
	margin-bottom: 20px;
}
.signup-form:after {
	content: "";
	background: url(../img/login-sign-up-shadow.png) no-repeat center top;
	position: absolute;
	bottom: -63px;
	width: 100%;
	height: 51px;
	left: 0;
	z-index: 123;
	background-size: contain;
}
.signup-form h2 {
	color: #FFF;
}
.signup-form p {
	margin-bottom: 30px;
}
.signup-form-left {
	width: 48%;
	float: left;
}
.signup-form-right {
	width: 48%;
	float: right;
}
.signup-form input {
	width: 100%;
	height: 47px;
	font-size: 14px;
	color: #3b3b3b;
	border: #e5e5e5 solid 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 0 10px;
}
.signup-form label {
	float: right;
	display: inline-block;
	font-size: 16px;
	color: #a5d0e7;
	font-family: 'flexobold';
	margin-top: 17px;
}
.signup-form label input {
	width: 15px;
	height: 15px;
	padding: 0;
	margin-right: 5px;
	outline: none;
}
input.signup-btn {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #64ab43;
	-webkit-box-shadow: 0 2px 9px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	-moz-box-shadow: 0 2px 9px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	box-shadow: 0 2px 9px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: linear-gradient(to top, rgba(0,0,0,.13), rgba(255,255,255,.13));
	font-family: 'flexobold';
	font-size: 20px;
	color: #ffffff;
	border: 0;
	width: 170px;
	height: 52px;
	float: left;
	cursor: pointer;
}
.or-login {
	display: inline-block;
	float: right;
	padding-top: 10px;
	font-family: 'flexobold';
	font-size: 16px;
	color: #a5d0e7;
}
.or-login a {
	color: #FFF;
}
.login-btn-part a {
	float: right;
	display: inline-block;
	font-size: 16px;
	color: #a5d0e7;
	font-family: 'flexobold';
	margin-top: 17px;
}
.login-form label {
	display: block;
	float: none;
	padding-bottom: 30px;
}
.choose-training {
	background: #f2f2f2;
	padding-bottom: 40px;
}
.choose-training-left {
	width: 25.5%;
	float: left;
}
.choose-training-right {
	width: 70.6%;
	float: right;
}
.set-your-parameters {
	border: #fff solid 12px;
	border-top: 0;
	background: #0173b2;
	position: relative;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.29);
	margin-bottom: 30px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.set-your-parameters:before {
	content: "";
	background: url(../img/choose-training-left-shadow.png) no-repeat center top;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 48px;
	left: 0;
	z-index: 123;
	background-size: contain;
}
.set-your-parameters-text {
	padding: 40px 10px 15px 10px;
	font-family: 'flexobold';
	font-size: 20px;
	color: #a5d0e7;
	line-height: 35px;
	text-align: center;
}
.choose-training-steps {
	background: #016ca8;
	border: #fff solid 12px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.29);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	margin-top: 50px;
}
.choose-training-steps:before {
	content: "";
	background: url(../img/step-arrow.png) no-repeat;
	width: 28px;
	height: 31px;
	position: absolute;
	top: 55px;
	left: -28px;
}
.choose-training-steps ul li h3 {
	font-family: 'flexobold';
	font-size: 40px;
	color: #FFF;
	padding: 17px 20px 18px 20px;
	line-height: 40px;
	background-color: #0884c9;
	-webkit-box-shadow: inset 0 -2px 7px rgba(0,0,0,.35);
	-moz-box-shadow: inset 0 -2px 7px rgba(0,0,0,.35);
	box-shadow: inset 0 -2px 7px rgba(0,0,0,.35);
}
.choose-training-steps-disc {
	padding: 20px;
	font-family: 'flexobold';
	font-size: 20px;
	color: #a5d0e7;
	line-height: 35px;
}
.refind-your-choices {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	background: #FFF;
}
.refind-your-choices h2 {
	font-size: 16px;
	color: #222222;
	padding: 10px 20px;
	line-height: 20px;
	border-bottom: #e5e5e5 solid 1px;
	margin-bottom: 0;
}
.refind-your-choices ul li {
	padding: 15px 10px 15px 20px;
}
.refind-your-choices ul li label {
	font-size: 14px;
	color: #222222;
	padding: 10px 0 0 0;
	display: block;
}
.refind-your-choices ul li label input {
	margin-right: 10px;
}
.refind-your-choices ul li.active {
	background: #f0f5fb;
}
.refind-your-choices ul li h3 {
	font-family: 'flexodemi';
	font-size: 14px;
	color: #222222;
	cursor: pointer;
	position: relative;
}
.refind-your-choices ul li h3 img {
	max-width: 15px;
	margin-top: 3px;
	margin-right: 10px;
}
.refind-parameters {
}
.accodian-arrow {
	background: url(../img/accodian-arrow.png) no-repeat;
	width: 19px;
	height: 19px;
	position: absolute;
	right: 0;
	top: 0;
}
.refind-your-choices ul li.active .accodian-arrow {
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);
}
#choose-training-steps {
	display: none;
	position: relative;
}
#choose-training-steps:after {
	content: "";
	background: url(../img/step-arrow.png) no-repeat center bottom;
	width: 100%;
	height: 31px;
	position: absolute;
	bottom: -29px;
	left: 0;
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	transform: rotate(-90deg);
}
.choose-training-list {
	padding-top: 40px;
}
.download-these-results-btn {
	display: block;
	margin-top: 20px;
	font-size: 14px;
	color: #3b3b3b;
	line-height: 21px;
}
.download-these-results-btn a {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #64ab43;
	-webkit-box-shadow: 0 2px 9px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	-moz-box-shadow: 0 2px 9px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	box-shadow: 0 2px 9px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: linear-gradient(to top, rgba(0,0,0,.13), rgba(255,255,255,.13));
	font-family: 'flexobold';
	display: inline-block;
	font-size: 18px;
	line-height: 28px;
	color: #FFF;
	padding: 10px 30px
}
.choose-training-list-part {
	width: 72.4%;
}
.choose-training-listing {
	margin-top: 25px;
}
.choose-training-listing ul li {
	margin-bottom: 20px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.19);
	padding: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #FFF;
}
.refind-your-choices ul li {
	border-bottom: #e5e5e5 solid 1px;
}
.choose-training-listing-left {
	width: 78.5%;
	float: left;
}
.choose-training-listing-right {
	width: 19%;
	float: right;
	text-align: center;
}
.choose-training-listing ul li h3 {
	font-family: 'flexobold';
	font-size: 20px;
	color: #016199;
	margin-bottom: 15px;
}
.choose-training-listing ul li h3 a {
	color: #016199;
}
.choose-training-listing-img {
	margin-bottom: 10px;
}
.choose-training-listing-img img {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.choose-training-listing-price {
	font-family: 'flexobold';
	font-size: 16px;
	color: #58a335;
	margin-bottom: 10px;
}
.view-course-btn {
	display: block;
}
.view-course-btn a {
	background-color: #096fa4;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	box-shadow: 0 2px 5px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: linear-gradient(to top, rgba(0,0,0,.13), rgba(255,255,255,.13));
	height: 33px;
	line-height: 33px;
	padding-left: 10px;
	padding-right: 25px;
	position: relative;
	font-family: 'flexobold';
	font-size: 14px;
	color: #FFF;
	display: block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
}
.view-course-btn a:after {
	content: "";
	background: url(../img/view-course-btn-arrow.png);
	position: absolute;
	right: 10px;
	top: 12px;
	width: 6px;
	height: 10px;
}
.choose-training-listing-disc {
	font-size: 14px;
	color: #3b3b3b;
	line-height: 21px;
	margin-bottom: 10px;
}
.choose-training-listing-left-icon img {
	margin-right: 9px;
	margin-bottom: 5px;
}
.choose-training-detail {
	padding: 50px 0;
}
.choose-training-detail h2 {
	color: #016199;
}
.choose-training-detail .choose-training-listing-left {
	width: 80.5%;
}
.choose-training-detail-parameters {
	padding-top: 40px;
}
.choose-training-detail-parameters ul {
	border: #d8d8d8 solid 1px;
	border-right: 0;
}
.choose-training-detail-parameters ul li {
	border-bottom: #d8d8d8 solid 1px;
	border-right: #d8d8d8 solid 1px;
	background: #ffffff;
	padding: 0px 10px 0 15px;
}
.choose-training-detail-parameters ul li:last-child {
	border-bottom: 0;
}
.choose-training-detail-parameters ul li:nth-child(even) {
	background: #f2f2f2;
}
.choose-training-detail-parameters ul li img {
	margin-right: 12px;
	padding: 5px;
	background: #FFF;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	vertical-align: middle;
}
.choose-training-detail-parameters ul li div {
	font-family: 'flexobold';
	font-size: 14px;
	color: #666666;
	width: 190px;
	border-right: #e7e6e6 solid 1px;
	padding: 5px 0;
	display: inline-block;
	margin-right: 15px;
}
.choose-training-detail .download-these-results-btn {
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
	max-width: 430px;
}
.choose-training-detail .download-these-results-btn a {
	width: 100%;
	display: block;
	background-color: #096fa4;
	-webkit-box-shadow: 0 2px 9px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	-moz-box-shadow: 0 2px 9px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	box-shadow: 0 2px 9px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: linear-gradient(to top, rgba(0,0,0,.13), rgba(255,255,255,.13));
}
.go-back-to-your-search {
	padding: 50px 0;
	text-align: center;
	background: #f2f2f2;
}
.go-back-to-your-search-text {
	font-family: 'flexobold';
	font-size: 40px;
	text-align: center;
	color: #016199;
	line-height: 55px;
	margin-bottom: 20px;
}
.go-back-to-your-search-btn {
	text-align: center;
}
.go-back-to-your-search-btn a {
	display: inline-block;
	font-family: 'flexobold';
	font-size: 35px;
	color: #FFF;
	padding: 20px 50px;
	line-height: 40px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #64ab43;
	-webkit-box-shadow: 0 2px 9px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	-moz-box-shadow: 0 2px 9px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	box-shadow: 0 2px 9px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: linear-gradient(to top, rgba(0,0,0,.13), rgba(255,255,255,.13));
	text-shadow: 0 1px 6px rgba(0, 0, 0, 0.75);
}
.my-account {
	padding: 50px 0;
	background: #f2f2f2;
}
.my-account-left {
	width: 25.5%;
	float: left;
}
.my-account-right {
	width: 72.7%;
	float: right;
}
.my-account-right h2 {
	font-size: 24px;
	color: #016199;
}
.my-account-menu {
	border: #fff solid 12px;
	background: #016da5;
	padding: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.29);
	margin-bottom: 30px;
}
.my-account-menu h4 {
	font-size: 24px;
	color: #ffffff;
	font-family: 'flexobold';
	margin-bottom: 15px;
}
.my-account-menu ul li {
	margin-bottom: 20px;
}
.my-account-menu ul li:last-child {
	margin-bottom: 10px;
}
.my-account-menu ul li a {
	display: inline-block;
	font-family: 'flexomedium';
	font-size: 16px;
	color: #ffffff;
}
.my-account-menu ul li a.active, .my-account-menu ul li a:hover {
	text-decoration: underline;
}
.create-course-form {
	max-width: 530px;
}
.create-course-form p {
	margin: 0 0 20px 0;
}
.create-course-form input[type="text"] {
	width: 100%;
	padding: 0 10px;
	border: #e5e5e5 solid 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 40px;
	color: #3b3b3b;
	font-size: 14px;
}

.create-course-form input[type="password"] {
	width: 100%;
	padding: 0 10px;
	border: #e5e5e5 solid 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 40px;
	color: #3b3b3b;
	font-size: 14px;
}
.create-course-form select {
	width: 100%;
	padding: 5px;
	border: #e5e5e5 solid 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 40px;
	color: #3b3b3b;
	font-size: 14px;
}
.create-course-form textarea {
	width: 100%;
	padding: 10px;
	border: #e5e5e5 solid 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 160px;
	color: #3b3b3b;
	font-size: 14px;
}
.create-course-form input[type="submit"] {
	width: 48%;
	padding: 0;
	border: #e5e5e5 solid 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 33px;
	color: #ffffff;
	font-size: 14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #096fa4;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	box-shadow: 0 2px 5px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: linear-gradient(to top, rgba(0,0,0,.13), rgba(255,255,255,.13));
	font-family: 'flexobold';
	border: 0;
	cursor: pointer;
}
.submit-course-btn {
	float: left;
}
.review-course-btn {
	float: right;
}
.need-help {
	border: #fff solid 12px;
	background: #016da5;
	padding: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.29);
	margin-bottom: 30px;
}
.need-help h4 {
	font-size: 24px;
	color: #ffffff;
	font-family: 'flexobold';
	margin-bottom: 15px;
}
.need-help-disc {
	font-size: 16px;
	color: #FFF;
	line-height: 25px;
}
.need-help-email-us {
	margin-top: 20px;
	text-align: center;
}
.need-help-email-us a {
	font-family: 'flexobold';
	font-size: 18px;
	color: #fff;
	line-height: 42px;
	display: block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #64ab43;
	-webkit-box-shadow: 0 2px 9px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	-moz-box-shadow: 0 2px 9px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	box-shadow: 0 2px 9px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: linear-gradient(to top, rgba(0,0,0,.13), rgba(255,255,255,.13));
}
.create-course-form label {
	font-size: 14px;
	color: #3b3b3b;
	margin-bottom: 5px;
	display: block;
}
.get-in-touch {
	padding: 50px 0;
}
.get-in-touch-text1 {
	font-size: 14px;
	color: #3b3b3b;
	line-height: 21px;
	text-align: center;
	margin-bottom: 25px;
}
.get-in-touch-text2 {
	font-size: 20px;
	color: #3b3b3b;
	line-height: 30px;
	text-align: center;
	margin-bottom: 25px;
}
.get-in-touch-text2 a {
	font-family: 'flexodemi';
	color: #016199;
}
.get-in-touch-form {
}
.get-in-touch-form input {
	background: #ffffff;
	width: 100%;
	height: 40px;
	border: #e5e5e5 solid 1px;
	padding: 10px 0;
	font-size: 14px;
	color: #3b3b3b;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 0 10px;
}
.get-in-touch-form textarea {
	background: #ffffff;
	width: 100%;
	height: 170px;
	border: #e5e5e5 solid 1px;
	padding: 10px;
	font-size: 14px;
	color: #3b3b3b;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.get-in-touch-form1 {
	width: 31.9%;
	float: left;
	margin-right: 2.1%;
	position: relative;
	margin-bottom: 20px;
}
.get-in-touch-form2 {
	width: 31.9%;
	float: left;
	margin-right: 2.1%;
	position: relative;
	margin-bottom: 20px;
}
.get-in-touch-form3 {
	width: 31.9%;
	float: left;
	position: relative;
	margin-bottom: 20px;
}
.get-in-touch-form-textarea {
	position: relative;
	margin-bottom: 20px;
}
.get-in-touch-captcha {
}
.get-in-touch-captcha img {
	margin-right: 20px;
	border: #e5e5e5 solid 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: left;
}
.get-in-touch-captcha input {
	width: calc(100% - 175px);
	float: right;
}
input.get-in-touch-submit-btn {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #096fa4;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	box-shadow: 0 2px 5px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: linear-gradient(to top, rgba(0,0,0,.13), rgba(255,255,255,.13));
	font-family: 'flexobold';
	font-size: 14px;
	color: #ffffff;
	height: 37px;
	border: 0;
}
.get-in-touch-captcha {
	width: 48.7%;
	float: left;
}
.get-in-touch-submit {
	width: 48.7%;
	float: right;
}
.get-in-touch-footer {
	background: url(../img/get-in-touch.jpg) center center;
	background-size: cover;
	padding: 50px 0;
}
.get-in-touch-footer ul li {
	min-height: 185px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	background: #FFF;
	width: 31.9%;
	float: left;
	margin-right: 2.1%;
	padding: 20px;
	font-size: 14px;
	line-height: 21px;
	color: #3b3b3b;
}
.get-in-touch-footer ul li a {
	font-family: 'flexodemi';
	color: #0173b2;
}
.get-in-touch-footer ul li:last-child {
	width: 31.9%;
	margin-right: 0;
}
.get-in-touch-footer ul li h4 {
	font-family: 'flexobold';
	font-size: 16px;
	color: #016199;
	margin-bottom: 15px;
	display: block;
}
.get-in-touch-footer ul li h4 img {
	vertical-align: middle;
	margin-right: 10px;
}
.nav-m {
	text-align: center;
	width: 100%;
	background: #0b7fc2;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border: #016199 solid 3px;
	border-top: 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.31);
	z-index: 123;
	padding: 20px 0 00px 0;
	max-width: 310px;
	display: table;
	position: absolute;
	left: 50%;
	margin-left: -155px;
	display: none;
}
.nav-m > a {
	display: block;
	text-align:left;
	padding:0 20px;
}

.nav-m > a > span {
	font-family: "flexobold";
    font-size: 18px;
	text-align:left;
	color:#FFF;
	line-height:18px;
}
.nav-m > a > span > img {
	margin-bottom: 20px;
	float:right;
}
.nav-m ul li a {
	border-bottom: 2px solid #0b7fc2;
	color: #fff;
	display: block;
	font-family: "flexobold";
	font-size: 16px;
	line-height: 16px;
	padding: 10px 20px 5px 20px;
	text-align: left;
}
.nav-m ul li a:hover, .nav-m ul li a.active, .nav-m ul li.active a {
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
	background: rgba(0, 0, 0, 0.1);
}
.news-right h2 {
	font-size: 20px;
}
.search-refine {
}
.search-refine input {
	height: 25px;
	width: 100%;
	padding: 0 10px;
	font-size: 14px;
	color: #3b3b3b;
	border: 0;
}

.search-refine-submit{
	padding-top: 30px;
}

input.search-refine-submit-btn {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #64ab43;
	-webkit-box-shadow: 0 2px 9px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	-moz-box-shadow: 0 2px 9px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	box-shadow: 0 2px 9px rgba(0,0,0,.39), inset 0 -4px rgba(0,0,0,.28);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.13), rgba(255,255,255,.13));
	background-image: linear-gradient(to top, rgba(0,0,0,.13), rgba(255,255,255,.13));
	width:100%;
	height:42px;
	border:0;
	cursor:pointer;
	font-family: "flexobold";
	font-size: 24px;
	color:#FFF;
	text-shadow:0 1px 6px rgba(21, 59, 3, 0.75);
}


/*------8-1-14------------*/

.video{
	position:fixed;
	width:100%;
	height:100%;
	z-index:3159;
	padding:40px 50px 50px 50px;
	background:#000;
	display:none;
}

.video iframe{
	width:100%;
	height:100%;
}

.video-close{
	background:url(../img/close.png);
	width:40px;
	height:40px;
	float:right;
	cursor:pointer;
/*	margin-right:-25px;
	margin-top:-25px;*/
	position:absolute;
	z-index:3160;
	right:15px;
	top:15px;
	}

span.help-inline{
	color: #FF0000;
	font-size: 13px;
}

.suberror{
	color: #FF0000;
	font-size: 13px;
}

/*-------12-1-15------------*/
.thank-you{
	background:url(../img/thank-you-bg.jpg);
	min-height:500px !important;
	background-size:cover;
}

.thank-you-text{
	font-family: 'flexodemi';
	font-size:20px;
	color:#1b1b1b;
	text-align:center;
	padding-top:290px;
	line-height:32px;
}

.thank-you-text span{
	color:#FFF;
	}

.thank-you-text a{
	color:#FFF;
	}


.thank-you-text h1{
	text-align:center;
	font-family: "flexobold";
	font-size:60px;
	color:#1b1b1b;
	margin-bottom:30px;
	line-height:60px;
}

.page-not-found h1{
	font-size:38px;
	line-height:50px;
	}
	
.edit-photo{
	margin-bottom:15px;
}

.edit-photo b{
	font-weight:normal;
	display:block;
	margin-top:5px;
	font-size:14px;
	}
	
.current-photo{
	width:100px;
	float:left;	
}

.change-photo{
	width:calc(100% - 100px);
	float:right;
	}
	
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  margin-top:10px;
}
.custom-file-input::before {
  content: 'Select';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 3px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: e5e5e5;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.create-course-form input[type="file"] {
	width: 100%;
	padding:0px;
	border: #e5e5e5 solid 1px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 40px;
	line-height:30px;
	color: #3b3b3b;
	font-size: 14px;
	background:#fff;
}